<h1>{{title}}</h1>
<form method="POST">
  <fieldset>
    <label for="name" class="col-2">
      Habit Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  
  <fieldset>
    <label for="frequency" class="col-2">
      Frequency:
    </label>
    <select name="frequency" id="frequency" required>
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
    </select>
  </fieldset>

  <fieldset>
    <label for="priority" class="col-2">
      Priority:
    </label>
    <select name="priority" id="priority">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </fieldset>

  <fieldset>
    <label for="notes" class="col-2">
      Notes:
    </label>
    <textarea name="notes" id="notes" rows="3"></textarea>
  </fieldset>

  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form> 